.logo_wrapper {
  width: 60px;
}

.hero_img_wrapper {
  position: absolute;
  z-index: -2;
  overflow: hidden;
  background-color: #0a183d;
}
.hero_img_overlay {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  background-color: #0a183d;
  opacity: 0.75;
}

.hero_header_text {
  h2 {
    color: #fff;
  }
  p{
    color: #fff;
    opacity: 0.5;
  }
}

.nav_wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;

  a,
  a:link {
    color: #0a183d;
    text-decoration: none;
    font-weight: bold;
  }
  a:visited {
    color: #fc0254;
  }
  a:hover {
    color: #fc0254;
  }
}

.nav_bar {
  display: flex;
  align-items: center;
  margin: 0.5em auto;

  .nav_get_in_touch_btn {
    border: #fc0254 solid;
    border-radius: 50px;
    padding: 0.5em;
  }
}

.nav_links_wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  .nav_links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li {
      margin: 0 1em;
    }
  }
}

.menu_icon {
  display: none;
}

.menu_links {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: white;
  border-radius: 25px;
  animation: show_mobile_menu 0.3s;
  animation-timing-function: ease-in;

  a,
  a:link {
    color: #0a183d;
    text-decoration: none;
    font-weight: bold;
  }
  a:visited {
    color: #fc0254;
  }
  a:hover {
    color: #fc0254;
  }

  .close_icon {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto 1em auto;

    li {
      margin: 0.4em 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .nav_bar {
    .nav_links {
      li {
        display: none;
      }
    }
    .menu_icon {
      display: flex;
    }
  }
}

// Animations

@keyframes show_mobile_menu {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
